.layout {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: [home-s nav-s] 150px [nav-e content-s] 1fr [content-e home-e];
    grid-template-columns: [content-s nav-s] 50px [content-inset-s] 1fr [content-inset-e] 50px [nav-e content-e];

    .navigation {
        grid-row: nav-s/nav-e;
        grid-column: nav-s/nav-e;
        z-index: 10;
    }

    &__under-header {
        grid-row: home-s/home-e;
        grid-column: content-s/content-e;
    }

    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
    }

    &__content-inset {
        grid-row: content-s/content-e;
        grid-column: content-inset-s/content-inset-e;
    }


}
